.screenheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 30px 20px;
    margin-bottom: 15px;
}
.screenheader__title{
    font-size: 32px; 
    font-weight: 600;
}
.screenheader__icons span{
    margin-left: 25px;
}
.screenheader__icons span:last-child{
    position: relative;
}
.screenheader__icons__dot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
@keyframes rotateGear{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screenheader__icons .fa-gear:hover{
    animation: rotateGear 1s linear infinite;
}